* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background: rgb(108, 185, 184);
  background: radial-gradient(
    circle,
    rgba(108, 185, 184, 1) 0%,
    rgba(6, 10, 13, 1) 74%,
    rgba(9, 8, 27, 1) 100%
  );
}

#app {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
}

img {
  height: 150px;
  width: 150px;
  margin-bottom: 27px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

div > :nth-child(3) {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  margin-bottom: 48px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: 300px;
  text-align: center;
  justify-content: center;
  background-color: rgb(49, 69, 73);
  border-radius: 10px;
  transition: 1s;
}

li:hover {
  background-color: rgb(26, 57, 63);
  filter: brightness(0.8);
}

a {
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 80px;
  position: absolute;
  width: 300px;
}

ul img {
  width: 80px;
  height: 21px;
}

li img {
  position: relative;
  right: 110px;
  top: 12px;
}

footer {
  margin-top: 48px;
}
